.screen{
    width: 1100px;
    height: 750px;
    background-color: black;
    text-align: center;
    margin: auto;
    color: white;
}
h3{
    color: #ffffff;
    background-color: rgba(208, 42, 200, 0.51);
    text-align: center;
    width: 200px;
    border: 50px #bde307;
}